:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-tertiary: #212121;
  --color-border-button: #3d3c3c;
}
/*base de diseño movil*/
.header {
  width: 100%;
  background-color: #282828;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.header .button {
  display: none;
}
.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header .li {
  margin: 0 0.5em;
}

@media screen and (max-width: 600px) {
  .header .button {
    display: block;
    cursor: pointer;
  }
  .header .nav {
    width: 100%;
    /* display: none; */
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo {
    /* display: block; */
    height: 50vh;
    pointer-events: auto;
  }
  .header .ul {
    flex-direction: column;
  }
  .header .li {
    margin: 1rem 0;
  }
}

/* main */
section {
  width: 100%;
  height: 100vh;
}
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./asset/img/computer-1896922_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.welcome_title {
  font-size: 3rem;
  margin-top: 35vh;
}

.welcome_text {
  padding-top: 15px;
  padding-bottom: 90px;
}
.welcome_button {
  width: 200px;
  height: 50px;
  border: solid 2px var(--color-border-button);
}
.welcome_button:hover {
  backdrop-filter: blur(3px);
}

/* About */
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about_title {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
.about div {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about div .button_about {
  font-size: 20px;
  padding: 24px 36px;
  border: solid 1px #000;
}
.about div .about_text {
  font-size: 1.5rem;
}
.about_img {
  width: 750px;
}
.product {
  margin-top: 20px;
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-image: url("./asset/img/1366_2000.jpg");
  background-size: cover;
}
.product_title {
  padding-top: 16px;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.product div {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product_text {
  width: 100%;
}
.button_product {
  width: 200px;
  height: 80px;
  border: solid 1px #fff;
}
